@import "../../../styles/baseline/_styles";

.hero {
  position: relative;
}

.content {
  padding: 160px 0;
}

.textSection {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 18px;
}