@import "../../../styles/baseline/_styles";

.backgroundGroup {
  position: absolute;
  width: 100%;
  height: 100%;
}

.overlay {
  background-color: $black;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  right: 0;
  top: 0;
}