// Padding Options
$paddingOptions: (
  'none': 0,
	'small': 25px,
	'default': 50px,
	'large': 100px,
);

// Dynamic Padding
.padding{
	@each $name, $spacing in $paddingOptions {
		&--top-#{$name}{
			padding-top: $spacing;
		}

		&--bottom-#{$name}{
			padding-bottom: $spacing;
		}
	}
}