body {
	font-family: 'Open Sans', sans-serif;
}

iframe {
	width: 100%;
}

a {
	border-color: transparent;
  outline: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
	padding: 7px 20px;
	transition: all .3s ease;
	font-size: 16px;
	line-height: 18px;

	&:active,
	&:focus {
		border-color: transparent;
		outline: none;
	}
  text-decoration: none;
}

p{
	color: white;
	font-size: 16px;
	line-height: 24px;
}

.prehead {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 2.29px;
	color: #00A0B1;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
