body {
	font-family: $font;
}

iframe {
	width: 100%;
}

a {
  @extend .button;
  text-decoration: none;
}

p{
	color: $white;
	font-size: rem-calc( 16 );
	line-height: rem-calc( 24 );
}

.prehead {
	font-size: rem-calc(13);
	line-height: rem-calc(18);
	letter-spacing: rem-calc(2.29);
	color: $secondary;
	font-weight: map-get($font-weights, 'extra-bold');
	font-family: $font;
	text-transform: uppercase;
}
